body{
	
	font-family: arial,sans-serif;
	text-align: center;

}

#nav{
	width: 100%;
	height: 600px;
	background: url(winds.jpg);
	background-size: cover;
}

#nav_wrapper{
	width: 600px;
	margin-top: 200px;
	height: 100px;
	background: #192F3A;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.7;
}

#nav_wrapper ul li{
	list-style: none;
	display: inline;
	font-weight: bold;
	padding: 10px;
}

#nav_wrapper a{
	color: white;
	text-decoration: none;
	padding: 10px;
}

#nav_wrapper ul li:hover{
	background: red;
}